<footer class="text-center text-muted w-100 mt-auto fixed-bottom">
    <!-- TODO: Add the <script><script /> tag to include bootstrap javascript -->
    <p>
        &copy; Copyright 2025 : CSCI 3308 - BUFF BETS
    </p>
</footer>
</body>
</html>